{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('home') }}"><img src="http://lorempixel.com/1920/300/sports/" alt="Image de pub" class="mb-5"></a>

    <div class="container-fluid">

        <h2 class="mb-4">Les Nouveautés</h2>
        <div class="row">
        {% for produit in produits|slice(0, 4) %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <h3 class="card-title">{{ produit.marque.nom }}</h3>
                    <h5 class="card-title">{{ produit.nom }}</h5>
                    <img src="/img/{{ produit.image }}" class="card-img-top img-fluid rounded center-block " style="width: 150px; margin: auto" alt="Image du produit">
                    <div class="card-body">

                        <p class="text-center fw-bold">Prix : {{ produit.prix }}€ <br>
                                                        Stock : {{ produit.stock }}
                        </p>
                        <a href="{{ path('product_show', {'id': produit.id}) }}" class="btn btn-primary mb-2 ">En savoir plus</a>
                        <a href="{{ path('panier', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
